<footer class="container">
    <div class="row">
        <!-- Information -->
        <div class="col-md-7">
            <h3 class="footer-title">
                {{ 'El Cartujano' | trans }} <i class="fa fa-copyright"></i> {{ 'now'|date('Y') }}
            </h3>
            <p>
                {{ 'Si desea resolver cualquier duda puede ponerse en contacto con Distribuciones Antonio Jiménez Pineda S.C. el_cartujano@yahoo.es y uno de nuestros agentes entrará en contacto con usted.' | trans }}
            </p>
            <p>
                {{ 'Distribuciones Antonio Jiménez Pineda S.C.' | trans }}
                <br>{{ 'Calle 6, Parcela 54, Nave 23-24, 41500 Alcalá de Guadaira - Sevilla' | trans }}
                <br>{{ 'Telefono: (+34) 955631921 - Fax: (+34) 955631657 - Email:' | trans }} <a href="mailto:el_cartujano@yahoo.es" title="{{ 'Escríbenos a esta dirección' | trans }}">el_cartujano@yahoo.es</a>
            </p>
        </div><!-- .col-md-7 -->

        <!-- Contact -->
        <div class="col-md-4 text-center contact">
            <div id="contact-wrap">
                <h2 class="telephone"><i class="fa fa-phone mr15"></i>955 63 19 21</h2>
                <a href="https://www.facebook.com/pages/El-Cartujano/442469045813153" title="{{ 'Visítanos en Facebook' | trans }}" target="_blank">
                    <img src="{{ asset('bundles/frontend/img/facebook.png') }}" alt="{{ 'Facebook El Cartujano' | trans }}" />
                </a>
                <iframe class="fb-plugin" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FEl-Cartujano%2F442469045813153%3Fref%3Dts%26fref%3Dts&amp;send=false&amp;layout=button_count&amp;width=300&amp;show_faces=false&amp;font=lucida+grande&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:21px;" allowTransparency="true"></iframe>
            </div>
            </div><!-- .col-md-4 -->
    </div>
</footer>
