<div class="form-group">
    <label for="event_title" class="col-sm-2 control-label">
        <span class="red">*</span>
        {{ 'Título'|trans }}
    </label>

    <div class="col-sm-4">
        {{ form_widget(form.title, { 'attr': { 'class': 'form-control required'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="event_content" class="col-sm-2 control-label"><span class="red">*</span>  {{ "Descripción"|trans }}
    </label>

    <div class="col-sm-10">
        {{ form_widget(form.content, { 'attr': { 'class': 'form-control required tinymce'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="event_dateOfEvent" class="col-sm-2 control-label"> <span class="red">*</span> {{ 'Fecha'|trans }}

    </label>

    <div class="col-sm-2">
        <div class="input-group">
            {{ form_widget(form.dateOfEvent, { 'attr': { 'class': 'form-control required datepicker'} }) }}
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="event_tags" class="col-sm-2 control-label">{{ 'Tags'|trans }}</label>

    <div class="col-sm-4">
        {{ form_widget(form.tags, { 'attr': { 'class': 'form-control select2'} }) }}
    </div>
</div>

<div class="form-group">
    <label for="p" class="col-sm-2 control-label">{{ 'Provincia'|trans }}</label>

    <div class="col-sm-4">
        <select name="p" id="p" class="form-control" autocomplete="off">
            <option value="" selected="selected">{{ 'Provincia' | trans }}</option>
            {% for province in provinces %}
                <option value="{{ province.getId }}" {% if provinceEvent is defined and provinceEvent is not null and province.getId == provinceEvent.id %} selected="selected" {% endif %}>{{ province.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">
    <label for="item_address_city" class="col-sm-2 control-label"><span class="red">*</span> {{ 'Localidad'|trans }}
    </label>

    <div class="col-sm-4">
        <!-- Cities -->
        <select name="l" id="l" class="form-control" autocomplete="off">
            <option value="" selected="selected">{{ 'Localidad' | trans }}</option>
        </select>
    </div>
</div>

{{ form_rest(form) }}