{% set link = path('event', {'slug':event.slug}) %}
{% set image = asset(event.getImageCopy("ImageEventBox")) %}
<div class="list-media-top-event">
    <div class="top">
        <a href="{{ link }}" title="Fotografía de {{ event.title }}">
            <img src="{{ image }}" class="image-item">
        </a>
    </div>
    <div class="middle">
        <div id="event-date" data-date="{{ event.dateOfEvent | date('d-m-Y') }}" class="date pull-right">
            {{ event.dateOfEvent | date('d') }}
            {{ event.dateOfEvent | date('F') | trans }}
            {{ event.dateOfEvent | date('Y') }}
        </div>
    </div>
    <div class="bottom">
        <div class="title">
            <a href="{{ link }}" title="{{ event.title }}">
                {{ event.title | length > 60 ? event.title | slice(0, 60) ~ '...' : event.title  }}
            </a>
        </div>
        <div class="text">
            {{ event.content | striptags | slice(0, 120) | raw }}...
        </div>
    </div>
</div>