{% extends 'FrontendBundle::base.html.twig' %}

{% block title %}{{ "MOVERS by FUE"|trans }}{% endblock %}
{% block description %}{{"Una tienda que vende pulseras"|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section id="banner-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wrapper">
                    <h3>Be a <strong class="red">MOVER</strong></h3>
                    <h3><strong class="red">MOVE</strong> the world</h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}