{% extends "BackendBundle:Layouts:login.html.twig" %}

{% block content %}
    <div id="logo">
        <img src="{{ asset('bundles/frontend/img/logo.png') }}" alt="" />
    </div>
    <div id="loginbox">
        <form action="{{ path('admin_login_check') }}" method="post" name="acceso">
            <p>{{"Introduce tu usuario y contraseña para acceder" | trans}}.</p>
            <div class="input-group input-sm">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" type="text" name="_username" id="USERNAME" placeholder="{{"Usuario" | trans}}" />
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" name="_password" id="PASSWORD" placeholder="{{"Contraseña" | trans}}" />
            </div>
            <div class="form-actions clearfix">
                {#<div class="pull-right">
                    <a href="#recoverform" class="flip-link to-recover grey">{{"Recuperar contraseña" | trans}} &raquo;</a>
                </div>#}
                <input type="submit" class="btn btn-block btn-primary btn-default" value="{{"Acceder" | trans}}" />
            </div>
        </form>

        {#<form id="recoverform" action="#">
            <p>{{"Introduce tu email y te enviaremos las intrucciones a seguir para recuperar tu contraseña" | trans}}.</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span><input class="form-control" type="text" placeholder="{{"Tu E-mail" | trans }}" />
            </div>
            <div class="form-actions clearfix">
                <div class="pull-left">
                    <a href="#loginform" class="grey flip-link to-login">&laquo; {{"Click para acceder" | trans }}</a>
                </div>
                <input type="submit" class="btn btn-block btn-inverse" value="{{"Recuperar contraseña" | trans }}" />
            </div>
        </form>#}
    </div>
{% endblock %}